.header{
    background-color: #000;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
    }
    &__left{
        display: flex;
        align-items: center;
    }
    &__right{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin: 0;
        margin-right: 30px;
        color: #fff;
        
    }
    &__person{
        color: #fff;
    }
    &__items{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
    }
    &__mar-30{
        margin-left: 30px;
    }

}